*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/E-commerce/assets/fondo-pag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.name-vinump-2{
    width: 100px;
}

#nav{
    font-family:garamond;
    color: white;
    font-size: larger;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

#nav:hover{
    cursor: pointer;
}

.wine-red{
    margin-top: -300px;
    margin-left: 200px;
}

.img-red{
    width: 400px;
    border-radius:20px ;
    margin-top: -50px;
}

#login{
    position: relative;
    top: -2px;
}

#cart{
    position: relative;
    top: -2px;
}
.img-wine{
    width: 200px;
    
}
.text-wine{
    color: white;
    margin-left: 700px;
    margin-top: 220px;
    width: 500px;
    font-family:garamond;
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
}

.welcome{
    font-size: larger;
    font-weight: bold;
    font-size: xx-large;
}