*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/E-commerce/assets/image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.name-vinum{
  font-family:garamond;
  font-weight: bold;    
}

#nav{
    font-family:garamond;
    color: white;
    font-size: larger;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

#login{
    position: relative;
    top: -2px;
}

#cart{
    position: relative;
    top: -2px;
}

.text-wine{
    color: white;
    margin-left: 800px;
    margin-top: 220px;
    width: 500px;
    font-family:garamond;
    font-size: x-large;
    text-align: center;
}

.welcome{
    font-size: larger;
    font-weight: bold;
    font-size: xx-large;
}