*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Formato Responsive Para celular*/
@media screen and (max-width: 600px) {
    body {
        background-image: url(https://www.cronista.com/files/image/346/346068/610b207323724.jpg);
        background-size: auto; /* Ajusta automáticamente la altura y ocupa el 100% del ancho */
        background-repeat: no-repeat;
        background-position: center center;
    }
}
